a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

a#btn_new_yorker{
    display: inline-block;
    height: 70px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 100px;
    padding: 10px 20px 65px 20px;
    background-color: #087cc3;
    border: 2px solid #087cc3;
    color: #fff;
    font-size: 24px;
    font-family: "Forum", serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2em;
    text-decoration: none;
    transition: all .3s;
}
a#btn_new_yorker:hover {
    background-color: #e7f6ff;
    border: 2px solid #000;
    color: #000;
}

a#btn_lyft {
    display: block;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 30px;
    margin: auto;
	margin-top: 100px;
    padding-top: 3px;
    padding-bottom: 6px;
    background-color: #ff00bf;
    color: #fff;
    text-align: center;
    font-size: 35px;
    transition: all .2s;
}
.fa-brands .fa-lyft{
    position: absolute;
    top: 0;
    left: 0;
    scale: 5px;
}
a#btn_lyft:hover {
    background-color: #ffffff;
    color: #ff6edb;
    border: 1.5px solid #ff00bf;
    scale:120%;
}

a#btn_cartoon{
  
}
a#btn_cartoon .CN-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin:auto;
    margin-top: 60px;
    scale: 65%;
    font-family: "Open Sans", sans-serif;
    font-weight: 800px;
    font-size:60px;
    line-height: 0.2px;
    width:80%;
    max-height: 4px;
}
.CN-grid li{
    background-color: #000;
    color:#ffffff
}
.CN-grid li:last-child{
    background-color: #ffffff;
    color: #000;
    border: 2px solid #000;
}
.CN-grid li p{
    font-weight: 800;
    text-align: none;
    text-decoration: none;
}
a#btn_cartoon .CN-grid li:hover{
    background-color: #ffffff;
    color:#ffe554;
    border: 2px solid #ffe554;
}
a#btn_cartoon .CN-grid li:last-child:hover{
    background-color: #ffe554;
    color: #ffffff;
}
a#btn_cartoon .CN-grid:hover{
    box-shadow: 0 2px 10px #362e02;
    position: relative;
}

a#btn_instagram{
    display: block;
	width: 100px;
	height: 105px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 60px;
    font-size:5em;
   
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5724bf+0,b72a83+38,e08d3a+74,ddd06a+100 */
    background: linear-gradient(to bottom,  rgb(87,36,191) 0%,rgb(183,42,131) 38%,rgb(224,141,58) 74%,rgb(221,208,106) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: #ffffff;
}
.fa-brands .fa-instagram{
    padding: -15px 0 0 0;
}
a#btn_instagram:hover{
    border-radius: 50px;
    opacity: 75%;
}

a#btn_npr{
    display: inline-block;
	position: relative;
	margin:auto;
	margin-top: 90px;
	padding: 8px 10px;
	background-color: rgb(214, 33, 32);
    border: 4px solid #000;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: lowercase;
	letter-spacing: 10px;
	transition: all .2s;
}
a#btn_npr:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d62120+0,257bbd+100 */
    background: linear-gradient(to right, rgb(214,33,32) 0%,rgb(37,123,189) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    scale: 110%;
    border: 0px solid #000;
    -webkit-box-shadow: 5px 5px 5px 0px #1e1313, inset 4px 4px 15px 0px #1e1313 10px 7px 41px 4px rgba(175,138,123,0.79); 
    box-shadow: 5px 5px 5px 0px #4a3535, inset 4px 4px 15px 0px #4a3535, 10px 7px 41px 4px rgba(175,138,123,0.79);
}
a#btn_npr .fa-solid .fa-microphone{
    position: absolute;
    top: 0;
    left: 0;
}
a#btn_npr:hover .fa-solid .fa-microphone{
    transform: scale(1.3);
    transition: transform 0.5s;
}
a#btn_npr:active .fa-solid .fa-microphone{
    transform: rotate(-15deg) translate(0px, 50px) scale(3.5);
}

a#btn_facebook{
    display: inline-block;
	position: relative;
	margin:auto;
	width: 100px;
	height: 105px;
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 60px;
    font-size:4.5em;

    background-color: #ffffff;
	color: #0c62f7;
}
.fa-brands .fa-facebook-f{ /* !!!! NEED TO FIGURE OUT HOW TO POSITION MORE ACCURATELY !!!! */ 
    padding-top:90px; /* how to move the F icon lower??*/ 
}

a#btn_facebook:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #0c62f7;
    border-radius: 50px;
    transition: all .3s;
    z-index: 1; /*brings to bottom layer*/
}
 a#btn_facebook:hover {
    color: #fff;
}
a#btn_facebook:hover:before {
    width: 100px;
	height: 105px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*centers icon in button*/
}
a#btn_facebook i {
    position: relative;
    z-index: 2; /* Ensure it stays above the blue circle */
    color: #0c62f7;
    transition: color 0.3s ease-in-out;
}
a#btn_facebook:hover i {
    color: #ffffff; 
}
a#btn_MK{
    display: inline-block;
	position: relative;
	margin:auto;
	margin-top: 90px;
	padding: 8px 14px;
	background-color: rgb(255, 255, 255);
    border: 2px solid #000;
	color: #000000;
	font-family: "Host Grotesk", sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .2s;
    overflow: hidden; /* !! prevents any shapes from spilling*/ 
}
a#btn_MK:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; 
    z-index: 1; 
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%) /* moves black fill off-screen to the left, neg # =left, positive # =right */
    /* Use translateX & translateY to move across axis*/
}
a#btn_MK:hover:before{
    transform: translateX(0); /* Slide the black fill horizontally to match the button */
}
a#btn_MK span{
    position: relative; 
    z-index: 2;
    transition: color 0.3s ease-in-out;
}
a#btn_MK:hover span{
    color: #ffffff; 
}

a#btn_garden{
    display: inline-block;
	position: relative;
	margin:auto;
	margin-top: 50px;
	padding: 25px 25px;
    border-radius: 100px;
    border: 2px solid #006d2c;
	background-color: #ffffff;
	color: #006d2c;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 700;
    line-height: 1.2em;
	text-transform: uppercase;
    text-align: center;
	transition: all .2s;
    width: 75px;
    height: 75px;
    scale: 125%;
}
a#btn_garden i {
    font-size: 70px; 
    display: block;
    color: #006d2c
}
a#btn_garden span{
    opacity: 0; /*hide the text before hover*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    transition: opacity 0.3s ease;
}
a#btn_garden:hover i {
    opacity: 0; /* Hide the icon */
}
a#btn_garden:hover span {
    opacity: 1; /*reveal text*/
    color: #006d2c;
}
a#btn_garden:hover{
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, 10px 7px 41px 4px rgba(9,107,47,0), 10px 7px 30px 4px rgba(9,107,47,0.48); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, 10px 7px 41px 4px rgba(9,107,47,0), 10px 7px 30px 4px rgba(9,107,47,0.48);
}   

a#btn_coke{
    display: inline-block;
	position: relative;
	margin:auto;
	margin-top: 70px;
	padding: 8px 10px;
    border-radius: 50px;
	background-color: #f50203;
	color: #ffffff;
	font-family: "number-five-smooth", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 1.2em;
    text-align: center; /*text is not centered bc hidden icon is still there... how to remove from doc's flow? recenetr text? */ 
	transition: all .2s;
}
a#btn_coke i {
    transform: translateX(-100%); 
    opacity: 0; /* Hide the icon */
}
a#btn_coke:hover i {
    opacity: 1;
    color:#fa8080;
    position: absolute;
    top: 120%;
    left: 80%;
    transition: opacity 0.3s ease;
}
a#btn_coke:hover{
    background-color:#fa8080;
}

a#btn_nerf{
    display: inline-block;
	position: relative;
	margin:auto;
	margin-top: 70px;
    width: 100px;
    height:40px;
	padding: 8px 10px;
    border-radius: 15px;
    background-color: #f15e24;
    color: #ffffff;

    font-family: "ruddy", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    line-height: 1.2em;
    text-align: center;
	transition: all .2s;
}
a#btn_nerf i {
    opacity: 0; /* Hide the icon */
    position: absolute; /* Remove the icon from the flow */
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}
a#btn_nerf:hover{
    background-color:#ffa053;
    font-size: 25px;
    font-style: italic;
    transform: rotate(-5deg) translate(10px, -14px)
}
a#btn_nerf:hover:before i {
    transform: translateX(20);
    z-index: 10;
}
a#btn_nerf:hover i{
    opacity: 1;
    color:#2a2aea;
    left: 110%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
}
