html{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 22px;
    margin-left: 5rem;
    margin-top: 3rem;
}

header{
        line-height: 1;
        margin-bottom: 8%;
}

body{
    margin-bottom: 8rem;
}

h1{
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 0.6rem;
}

section{
    margin-top: 6rem;
}

h4{
    margin-top: 3rem;
    font-size: 29px;
    font-weight:650;
    color:rgb(82, 82, 82);
    line-height: 0.7rem;
}

.value{
    font-weight:500;
    font-size: 18px;
    color:rgb(170, 170, 170);
    line-height:0.3rem;
}
.quotes{
    text-indent: 1rem;
    line-height: 1.2rem;
    margin-bottom:1.3rem;
}

thin{
    font-weight:100;
}
semibold{
    font-weight:500;
}
loose{
    letter-spacing:0.3em;
}
tight{
    letter-spacing: -0.05em;
}
capitalize{
    text-transform: capitalize;
}
uppercase{
    text-transform: uppercase;
}
lowercase{
    text-transform: lowercase;
}



